@model Group7FinalProject.Models.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">State:</label>
                <select asp-for="State" asp-items="ViewBag.StateList" class="form-control">
                    <option value="">-- Select a State --</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfBedrooms" class="control-label"></label>
                <input asp-for="NumOfBedrooms" class="form-control" />
                <span asp-validation-for="NumOfBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfBathrooms" class="control-label"></label>
                <input asp-for="NumOfBathrooms" class="form-control" />
                <span asp-validation-for="NumOfBathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestsAllowed" class="control-label"></label>
                <input asp-for="GuestsAllowed" class="form-control" />
                <span asp-validation-for="GuestsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekdayPrice" class="control-label"></label>
                <input asp-for="WeekdayPrice" class="form-control" />
                <span asp-validation-for="WeekdayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekendPrice" class="control-label"></label>
                <input asp-for="WeekendPrice" class="form-control" />
                <span asp-validation-for="WeekendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleaningFee" class="control-label"></label>
                <input asp-for="CleaningFee" class="form-control" />
                <span asp-validation-for="CleaningFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRate" class="control-label"></label>
                <input asp-for="DiscountRate" class="form-control" />
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinNightsForDiscount" class="control-label"></label>
                <input asp-for="MinNightsForDiscount" class="form-control" />
                <span asp-validation-for="MinNightsForDiscount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasParking" /> @Html.DisplayNameFor(model => model.HasParking)
                </label>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Category Dropdown -->
            <div class="form-group">
                <label class="control-label">Category</label>
                @Html.DropDownList(
                         "categoryID",
                         (SelectList)ViewBag.AllCategories,
                         "Select a Category",
                         new { @class = "form-control" })
                <span class="text-danger">@ViewData.ModelState["CategoryID"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create Property" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

