@model IEnumerable<String>

<h1>Error</h1>

<p>Oops - something went wrong.</p>

@if (Model != null)
{
    foreach (String message in Model)
    {
        <p><span class="text-danger">@message</span></p>
    }
}

<br />
<form asp-action="Index" asp-controller="Home" method="post">
    <button type="submit" class="btn btn-success">Take me home!</button>
</form>

<br />
<form asp-action="Index" asp-controller="Properties" method="post">
    <button type="submit" class="btn btn-success">All Properties</button>
</form>
<br />
<form asp-action="SwitchAccount" asp-controller="Account" method="post">
    <button type="submit" class="btn btn-success">Switch Account</button>
</form>
<br />

