@model IEnumerable<Group7FinalProject.Models.Unavailability>

@{
    ViewData["Title"] = "Unavailabilities";
}

<h1>Unavailabilities</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Property Number</th>
                <th>Unavailable Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Property?.PropertyNumber</td>
                    <td>@item.UnavailableDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
