<h2>Seed Data Here</h2>
<a asp-action="SeedProperties" class="btn btn-danger">Seed Properties</a>
<a asp-action="SeedRoles" class="btn btn-danger">Seed Roles</a>

<a asp-action="SeedPeople" class="btn btn-danger">Seed People</a>

<a asp-action="SeedReviews" class="btn btn-danger">Seed Reviews</a>

<a asp-action="SeedReservations" class="btn btn-danger">Seed Reservations</a>
<a asp-action="SeedUnavailabilities" class="btn btn-danger">Seed Unavailabilities</a>


