
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to BevoBnb (this home page will test our buttons)!</h1>

<a asp-action="Index" asp-controller="Unavailabilities" class="btn btn-success">View Unavailabilities</a>
<a asp-action="Index" asp-controller="Properties" class="btn btn-success">View Properties</a>
<a asp-action="Index" asp-controller="Categories" class="btn btn-success">View Categories</a>
<a asp-action="Index" asp-controller="Reviews" class="btn btn-success">View Reviews</a>





