<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c780776b-9190-4ebd-a45b-9634df74813e/resourceGroups/fa24FinalProject/providers/Microsoft.Web/sites/fa24Group7BevoBnB</ResourceId>
    <ResourceGroup>fa24FinalProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fa24group7bevobnb.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fa24group7bevobnb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$fa24Group7BevoBnB</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>